@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{



    /*-- Belts Color --*/
    --color-white: #FFF;
    --color-yellow: #EDC900;
    --color-orange: #f37a38;
    --color-green: rgb(51, 161, 47);
    --color-blue: #154499;
    --color-brown: #934D19;
    --color-black: #000;
    --color-red: rgb(192, 2, 2);
    /*-----------------*/

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--text);
    --title-text--size:2.5rem;
    --normal-text-size: 1rem;
    --small-text-size: 0.76rem;
}
    :root[data-theme="light"] {
        --switch-circle-pos: 0.22rem;
        --switch-bg: #f5f5f6;
        --switch-circle-bg: #FFD371;
        --icon-sun: #997F44;
        --icon-moon: #B1B0B5;
        --white: #fde7e7;
        --text: #191919;
        --text-light: rgb(72, 72, 72);
        --background: #f6f7ff;
        --primary: #F7D060;
        --secondary: #e6e6e5;
        --accent: #ff9e03;
    }

    :root[data-theme="dark"] {
        --switch-circle-pos: 2.6rem;
        --switch-bg: #2D2C35;
        --switch-circle-bg: #7190FF;
        --icon-sun: #b1b0b5;
        --icon-moon: #DCE3FF;
        --white: #191919;
        --text: #FFF;
        --text-light: rgb(173, 173, 173);
        --background: #00010a;
        --primary: #F7D060;
        --secondary: #1a1a19;
        --accent: #fa9a00;
    }


*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    /* box-shadow: 0 0 0 3px red inset */
}

html{
    font-size: 13px;
    scroll-behavior: smooth;
}

body{
    margin: auto;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    user-select: none;
    color: var(--text);
    background-color: var(--background);
}


/*-- Globals --*/
a{
    color: var(--text);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-weight: 600;
    font-size: 1.4rem;
}

h3{
    font-weight: 500;
    font-size: 0.87rem;
}

small{
    font-size: 0.76rem;
    color: var(--primary);
}

p{
    color: var(--text-light);
}

b{
    color: var(--text);
}
strong{
    color: var(--text);
}

.yellow{
    color: var(--color-yellow)
}

.orange{
    color: var(--color-orange);
}

.green{
    color: var(--color-green);
}

.blue{
    color: var(--color-blue);
}

.white{
    color: var(--color-white);
}

section{
    width: 100%;
    margin: 0 auto;
}

.section__container{
    width: 90%;
    margin: 2rem auto;
    padding: 2rem;
    margin-bottom: 2rem;
    max-width: 1680px;
}

.section__title{
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--text);
    margin-bottom: 3rem;
}

.link__href{
    color: var(--color-blue);
    font-style: italic;
    font-weight: 600;
}

.link__href:hover{
    color: var(--color-blue);
    text-decoration: underline;
}

/*-- NAV TITLE --*/

.nav__tag{
    position: relative;
}

.geometric__shape{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 385px;
    height: 131px;
    display: inline-block;
    background: var(--primary); 
    box-shadow: inset 0px -1px 0px #c5c5c6;   
    /* box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.1); */
}

.geometric__shape::after{
    position: absolute;
    width: 131px;
    height: 100%;
    background-color: var(--primary);
    content: "";
    right: -75px;
    z-index: -1;
    top: 0;
    transform: skew(35deg);
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.1);
}

.nav__tag-titles{
    position: absolute;
    width: 235px;
}

.icon__logo{
    position: relative;
    width: auto;
    padding: 1rem 2rem;
    height: 130px;
    z-index: 10;
}

.nav__tag-title{
    position: absolute;
    width: 100%;
    top: 2rem;
    left: 12rem;
    z-index: 10;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.3;
    color: var(--text);
    text-shadow: 0px 0px 20px rgba(0, 0, 0, .2)
}

/*-- SLIDER IMG --*/
/* slider */
.slider {
    position: relative;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity .3s;
}

.slider__img--current {
    opacity: 1;
    z-index: 1;
}

.slider__btn {
    position: relative;
    z-index: 2;
    font-weight: bold;
    background: var(--color-yellow);
    padding: 0.75rem;
    font-size: 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

/* bonus slider nav */
.slider__nav {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.slider__nav-item {
    border: 0;
    padding: 0;
    margin: 0.5em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: var(--color-white);
}


/*-- HEADER --*/
.header{
    position: relative;
    top: 0;
}

.header__top-container{
    height: 50px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__top-container-mail, .header__top-container-tel, .header__top-container-socials{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    padding: 0 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.header__top-container-socials{
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    column-gap: 10px;
}

.header__top-container-socials i{
    font-size: 15px;
    padding: 15px;
    color: #FFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    outline: 1px solid #FFF;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
}

.header__top-container-socials i:hover{
    outline-offset: 2px;
    animation: shake 0.25s;
}

.icon__fb:hover{
    background-color: #4267B2;
}

.icon__insta:hover{
    background: linear-gradient(50deg,#405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
}

@keyframes shake{
    10%{transform: rotate(15deg);}
    20%{transform: rotate(-15deg);}
    30%{transform: rotate(15deg);}
    40%{transform: rotate(-15deg);}
}

.header__top-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #FFF;
    margin-right: 2rem;
}

.header__top-info span{
    color: var(--color-yellow);
    transition: all .3s ease;
    margin-right: 10px;
}

.header__top-info a{
    color: #FFF;
    cursor: pointer;
}

.header__top-info span:hover{
    transform: translateY(-5px)
}

#theme-switcher{
    background-color: var(--switch-bg);  
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    margin-right: 1.75rem;
    position: relative;
}

#theme-switcher::before{
    content: '';
    position: absolute;
    width: 2.22rem;
    height: 2.22rem;
    background-color: var(--switch-circle-bg);
    border-radius: 50%;
    z-index: 0;
    left: 0;
    transform: translateX(var(--switch-circle-pos));
}

#theme-switcher span{
    z-index: 1;
}

#icon-sun{
    font-size: 1.5rem;
    color: var(--icon-sun);
    font-weight: 600;

}

#icon-moon {
    font-size: 1.5rem;
    color: var(--icon-moon);
    font-weight: 600;
}



/*-- NAV --*/
.nav{
    height: 80px;
    background-color: rgba(255, 255, 255, 0.6);
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: inset 0px -1px 0px #c5c5c6;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
    /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05); */
}

.nav__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__menu-links{
    margin-right: 2rem;
}

.nav__menu-link{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.2s ease;
    position: relative;
}

.nav__home:hover{
    color: var(--color-yellow);
}

.nav__activity:hover{
    color: var(--color-orange);
}

.nav__inscription:hover{
    color: var(--color-green);
}
.nav__contact:hover{
    color: var(--color-blue);
}
.nav__home:hover::after{
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -32px;
    left: 0;
    content: "";
    background-color: var(--color-yellow);
    animation: max-width .2s ease-in-out;
}
.nav__activity:hover::after{
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -32px;
    left: 0;
    content: "";
    background-color: var(--color-orange);
    animation: max-width .2s ease-in-out;
}
.nav__inscription:hover::after{
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -32px;
    left: 0;
    content: "";
    background-color: var(--color-green);
    animation: max-width .2s ease-in-out;
}
.nav__contact:hover::after{
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -32px;
    left: 0;
    content: "";
    background-color: var(--color-blue);
    animation: max-width .2s ease-in-out;
}

@keyframes max-width{
    0% {max-width: 0%;}
    100% {max-width: 100%;}
}

.users{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-right: 2rem;
    cursor: pointer;
}

.users_profile-img{
    height: 4rem;
    width: max-content;
    border-radius: 50%;
}

.name__role-name{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.name__role-role{
    font-size: 0.86rem;
    font-style: italic;
}

.logout{
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
    align-self: center;
    align-items: center;
    padding: 6px;
}

.logout:hover{
    background-color: var(--primary);
    color: #FFF;
}

.hamburger{
    display: none;
}

/*- MAIN -*/
main{
    width: 100%;
    height: 80%;;
}

/*--HERO --*/
.hero__container{
    background-image: url(../images/deux-judokas-combattant-hommes\ \(1\).jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    height: 40rem;
    display: grid;
    grid-template-columns: 50% 50%;
    animation: reveal_bg 3s;
    animation-duration: 3s;
    transition: reveal_bg 3s linear;
}

@keyframes reveal_bg{
    0% {opacity: 0; background-size: 110%;}
    100% {opacity: 1; background-size: 100%;}
}

.hero__right{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:end;
    gap: 1rem;
    margin-right: 10rem;
}

.hero__title{
    text-align: right;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 3rem;
    max-width: 400px;
    line-height: 1.4;
    margin-bottom: 5rem;
    transition: all 2s ease;
    animation: reveal 2s;
    /* animation-delay: 1s; */
    animation-duration: 2s;
}

@keyframes reveal{
    0%{opacity: 0;margin-bottom: 0rem;line-height: 0;}
    50%{opacity: .5; }
    100%{opacity: 1; margin-bottom: 5rem;}
}

.logo__club{
    width: 300px;
    margin: 0 auto;
    align-items: right;
}

.judo__taiso{
    font-weight: 900;
    color: var(--color-blue);
    font-size: 4rem;
}

.bouscat{
    font-size: 4rem;
    font-weight: 900;
}

/*-- BELT --*/
.belt__container{
    display: flex;
    align-items: center;
    justify-content: stretch;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.belt{
    width: 100%;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, .2);
    transform: skew(30deg);
}

.white-belt{
    background-color: var(--color-white);
}

.yellow-belt{
    background-color: var(--color-yellow);
}

.orange-belt{
    background-color: var(--color-orange);
}

.green-belt{
    background-color: var(--color-green);
}

.blue-belt{
    background-color: var(--color-blue);
}

.brown-belt{
    background-color: var(--color-brown);
}

.black-belt{
    background-color: var(--color-black);
}

.red-belt{
    background-color: var(--color-red);
}

/*-- ABOUT --*/
.about__container{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    gap: 3rem;
}

.belt__title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
}

.white-belt__img{
    width: 100px;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,.3));
    margin-bottom: 3rem;
    margin-right: 2rem;
}

.section__about-description{
    font-size: 1.3rem;
    line-height: 1.7;
    text-align: justify;
    margin-bottom: 1rem;
}

.section__about-description:last-child{
    margin-bottom: 3rem;
}

.about__img{
    width: 30rem;
    height: max-content;
    object-fit: cover;
    place-self: center;
}

/*-- SLIDER ABOUT --*/
.about__slider-section{
    margin: 0;
    padding: 0;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: start;
}

.about__slider{
    width: 500px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
}

.about__slide{
    width: 600%;
    height: 600px;
    display: flex;
    position: relative;
}

.about__slide input{
    display: none;
}

.st{
    width: 20%;
    transition: 1s;
}

.st img{
    width: 500px;
    height: 600px;
}

.nav-m{
  position: absolute;
  width: 300px; 
  margin-top: -40px; 
  justify-content: center;
  display: none;
}

.m-btn{
    border: 1px solid #000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.m-btn:not(:last-child){
    margin-right: 30px;
}

.m-btn:hover{
    background-color: #000;
}

#radio1:checked ~.first{
    margin-left: 0;
}
#radio2:checked ~.first{
    margin-left: -20%;
}
#radio3:checked ~.first{
    margin-left: -40%;
}
#radio4:checked ~.first{
    margin-left: -60%;
}
#radio5:checked ~.first{
    margin-left: -80%;
}

.nav-auto{
    position: absolute;
    width: 500px;
    display: flex;
    justify-content: center;
    z-index: 10;
    margin-top: 41rem;
}

.nav-auto div{
    border: 1px solid #000;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right: 20px;
    justify-content: center;
}

#radio1:checked ~ .nav-auto .a-b1{
    background-color: var(--color-yellow);
}
#radio2:checked ~ .nav-auto .a-b2{
    background-color: var(--color-orange);
}
#radio3:checked ~ .nav-auto .a-b3{
    background-color: var(--color-green);
}
#radio4:checked ~ .nav-auto .a-b4{
    background-color: var(--color-blue);
}
#radio5:checked ~ .nav-auto .a-b5{
    background-color: var(--color-brown);
}


.video__yt{
    margin: 0 auto;
}

.button {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  margin-top: 2rem;
}

.button::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-orange);
    border-radius: 10rem;
    z-index: -2;
}

.button::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--color-green);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
}

.button:hover{
    color: #fff;
}

.button:hover::before{
      width: 100%;
}

/*-- ACTIVITY --*/
.activity__card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 2rem;
}

.parent{
    width: auto;
    height: 300px;
    color: var(--color-white);
    overflow: hidden;
}

.child{
    width: 100%;
    height: 100%;
    background-color: #000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .5s;
}

.child::before{
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}

.parent .child span{
    color: var(--color-white);
    padding: 25%;
    line-height: 1.7;
}

.parent:hover span, .parent:focus span{
    display: block;
}

.parent:hover .child::before, .parent:focus .child::before{
    display: block;
}

.parent:hover .child, .parent:focus .child{
    transform: scale(1.2);
}

.baby__card{
    background-image: url(../images/baby__card.jpg);
    background-position: right;
}

.child__card{
    background-image: url(../images/enfants__card.webp);
}

.adult__card{
    background-image: url(../images/adult__card.jpg);
    background-position: 25%;
}

.taiso__card{
    background-image: url(../images/taiso__card.jpg);
    background-position: 20%;
}

.name__group{
    width: 100%;
    background-color: var(--color-orange);
    padding: 1rem;
    color: var(--color-white);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

/*-- CODE MORAL --*/
.swiper-wrapper{
    column-gap: 2rem;
    position: relative;
    margin-bottom: 5rem;
}

.swiper-slide{
    max-width: 400px;

}

.swiper-cm{
    max-width: 400px;
}

.swiper-cm-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    filter:saturate(1.5)
}

.swiper-cm-title{
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1rem;
    color: var(--color-black);
}

.swiper-cm-subtitle{
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 1.5rem;
}

.swiper-cm-card-container:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
}





/*-- FOOTER --*/
.footer{
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 2rem;
    height: auto;
    width: 100%;
    background-color: var(--text);
    color: var(--color-white);
}

.footer__logo{
    width: 8rem;
    margin: 2rem auto 1rem;
}

.footer__title{
    color: var(--color-white);
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    line-height: 1.4;
}

.footer__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2rem;
    font-size: 1.25rem;
}

.footer__copyright{
    background-color: var(--text);
    height: auto;
}

.footer__contact, .footer__links, .footer__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.footer__contact p{
    color: var(--color-white);
    text-align: center;
    line-height: 1.4;
    font-size: 1rem;
    margin-top: 2rem;
}

.footer__links a{
    color: var(--color-white);
    text-align: center;
    line-height: 1;
    font-size: 1rem;
    margin-top: 1rem;
    transition: all 0.2s ease;
}

.footer__links a:hover{
    color: var(--color-yellow);
    text-decoration: underline;
}

.footer__socials a{
    color: var(--color-white);
    text-align: center;
    line-height: 1.4;
    font-size: 2rem;
    margin-top: 1rem;
    transition: all 0.2s ease;
    margin-top: 2rem;
}

.footer__socials a:hover{
    color: var(--color-yellow);
    transform: translateY(-5px)

}

.footer__subtitle{
    color: var(--color-yellow);
    font-weight: 600;
    text-decoration: underline;
}

.footer__copyright-text{
    text-align: center;
    padding: 15px;
    color: var(--color-white);
}

.footer__copyright-text span{
    color: var(--color-yellow);
    font-weight: 600;
}

/*-- SCROLL UP --*/
.scroll-up__container{
    position: fixed;
    bottom: 10rem;
    right: 0rem;
    width: 4rem;
    height: 4rem;
    background-color: var(--color-yellow);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .3);
    border:1px solid var(--text);
    transition: all 0.2s linear;
}

.scroll-up__container:hover{
    transform: translateY(-15px);
}

.scroll-up{
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,.3));
}

/*-- 
        RESPONSIVE 

Points de Ruptures
480 à 720px smartphones
768 à 900px tablettes en mode portrait
900 à 1024px tablettes en mode paysage
1024 à 1200px ordinateurs
                        --*/

@media screen and (max-width: 720px ) {

    .nav__tag{

    }

    .geometric__shape{
        height: 100px;
        width: 200px;
    }

    .icon__logo{
        display: none;
    }

    .nav__tag-title{
        top: 1.2rem;left: 4rem;
        font-size: 2rem;
    }
    
    .header__top-info{
        gap: 0;
    }

    .header__top-info p{
        display: none;
    }

    .header__top-info span{
        margin-right: 0;
    }
    
    .about__container{
        grid-template-columns: 1fr;
    }

    .hero__container{
        grid-template-columns: 1fr;
        margin-right: 0;
    }

    .hero__left{
        display: none;
    }

    .hero__right{
        align-items: end;
        margin: 2rem 4rem;
    }

    .hero__title{
        font-size: 2rem;
    }

    .dark-mode{
        margin: 0;
    }

    .users{
        display: block;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 0;
        gap: 0.5rem;
    }
    .users_profile-img{
        width: 40px;height: 40px;
    }

    .name__role-name, .name__role-role{
        display: none;
    }

    .dark-mode{
        margin-right: 1rem;
    }


    .activity__card-container{
        grid-template-columns: 2fr 2fr;
    }
}

@media screen and (max-width: 900px ) {
    .nav {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        height: 50px;
    }

    .nav__menu{
        order: 2;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: flex-start;
        position: absolute;
        background: var(--background);
        top: 100%;
        right: 0;
        height: max max-content;
        border-left: 1px solid #c5c5c6;
        transform: translateX(100%);
        z-index: 10;
    }

    .nav__menu-links{
        font-size: 2rem;
        padding: 1rem 0 1rem 1rem;
        text-align: right;
    }

    .nav__home:hover::after{
        bottom: -10px;
    }
    .nav__activity:hover::after{
        bottom: -10px;
    }
    .nav__inscription:hover::after{
        bottom: -10px;
    }
    .nav__contact:hover::after{
        bottom: -10px;
    }

    .open{
        transform: translateX(0%);
    }

    /*-- Hamburger --*/
    .hamburger{
        width: 20px;height: 20px;
        cursor: pointer;
        border: none;
        display: flex;
        background: #fafafa;
        align-items: center;
        position: relative;
        margin-right: 4rem;

    }
    .hamburger span{
        display: block;
        width: 100%;
        height: 2px;
        background: #333;
        position: absolute;
        pointer-events: none;
        transition: opacity 0.3s 0.15s ease-out;
    }

    .hamburger span:nth-child(1), .hamburger span:nth-child(3){
        transition: transform 0.3s ease-out;
    }

    .hamburger span:nth-child(1){
        transform: translateY(7px);
    }

    .hamburger span:nth-child(3){
        transform: translateY(-7px);
    }

    .hamburger.open span:nth-child(1){
        transform: translate(0) rotate(135deg);
    }
    .hamburger.open span:nth-child(2){
        opacity: 0;
        transition: opacity 0s ease-out;
    }
    .hamburger.open span:nth-child(3){
        transform: translate(0) rotate(-135deg);
    }
   


}

@media screen and (max-width: 1024px ) {
    
}

@media screen and (max-width: 1199px ) {
    
}

@media screen and (min-width: 1200px ) {
    
}

/*-- NAV --*/

/*-- HEADER --*/

/*-- ABOUT --*/









