@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    /*===== Colors =====*/
    --hue-color: 242;
    
    /* HSL Color Mode */
    --title-color: hsl(var(--hue-color), 8%, 95%);
  
    --box-color: hsl(var(--hue-color), 14%, 10%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 38%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 26%);


    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    --line-height-normal: 1.7;

    /*===== Font and Typography =====*/
    --body-font: 'Poppins', sans-serif;


    /*-- Belts Color --*/
    --color-white: #FFF;
    --color-yellow: #EDC900;
    --color-orange: #f37a38;
    --color-green: rgb(51, 161, 47);
    --color-blue: #154499;
    --color-brown: #934D19;
    --color-black: #000;
    --color-red: rgb(192, 2, 2);
    /*-----------------*/

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--text-color);
}
    :root[data-theme="light"] {
        --switch-circle-pos: 0.05rem;
        --switch-bg: #f5f5f6;
        --switch-circle-bg: #FFD371;
        --icon-sun: #997F44;
        --icon-moon: #B1B0B5;
        --white: #fde7e7;
        --text-color: #191919;
        --text-light: rgb(72, 72, 72);
        --body-color: #FFF;
        --nav-bgc: rgba(255, 255, 255, 0.8);
        --primary: #F6D655;
        --secondary: #849bf4;
        --skin-color: #f68922;
        --skin-color-strong: #313441;
    }

    :root[data-theme="dark"] {
        --switch-circle-pos: 2rem;
        --switch-bg: #2D2C35;
        --switch-circle-bg: #7190FF;
        --icon-sun: #b1b0b5;
        --icon-moon: #DCE3FF;
        --white: #191919;
        --text-color: #FFF;
        --text-light: rgb(173, 173, 173);
        --body-color: #333;
        --nav-bgc: rgba(100, 100, 100, 0.8);
        --primary: #F6D655;
        --secondary: #f68922;
        --skin-color: #849bf4;
        --skin-color-strong: #abb7e1;
    }

/* Responsive Typography */
@media screen and (max-width: 1024px) {
    :root {
        --biggest-font-size: 2rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1.125rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
    }
}

/*=============== BASE ===============*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* box-shadow: 0 0 0 3px red inset */
}

html{
    scroll-behavior: smooth;
}

body,
button,
input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

button,
input {
    border: none;
    outline: none;
}

/*=============== LAYOUT ===============*/
.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
    padding: 6.5rem 0 2rem;
}

.section__title {
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-3);
}

.section__title::before {
    content: attr(data-heading);
    display: block;
    font-size: var(--normal-font-size);
    font-weight: 300;
    color: var(--skin-color);
}

/*=============== BELT ===============*/
.yellow{
    color: var(--color-yellow)
}

.orange{
    color: var(--color-orange);
}

.green{
    color: var(--color-green);
}

.blue{
    color: var(--color-blue);
}

.white{
    color: var(--color-white);
}

section{
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
}

.section__container{
    width: 100%;
    margin: 2rem auto;
    padding: 2rem;
    margin-bottom: 2rem;
}

.section__title{
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 3rem;
}

.link__href{
    color: var(--color-blue);
    font-style: italic;
    font-weight: 600;
}

.link__href:hover{
    color: var(--color-blue);
    text-decoration: underline;
}

/*-- NAV TITLE --*/

.nav__tag{
    position: relative;
}

.geometric__shape{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 385px;
    height: 131px;
    display: inline-block;
    background: var(--primary); 
    box-shadow: inset 0px -1px 0px #c5c5c6;   
    /* box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.1); */
}

.geometric__shape::after{
    position: absolute;
    width: 131px;
    height: 100%;
    background-color: var(--primary);
    content: "";
    right: -75px;
    z-index: -1;
    top: 0;
    transform: skew(35deg);
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.1);
}

.nav__tag-titles{
    position: absolute;
    width: 235px;
}

.icon__logo{
    position: relative;
    width: auto;
    padding: 1rem 2rem;
    height: 130px;
    z-index: 10;
}

.nav__tag-title{
    position: absolute;
    width: 100%;
    top: 1.4rem;
    left: 10rem;
    z-index: 10;
    font-size: var(--h1-font-size);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.3;
    color: var(--text-color);
}

/*-- SLIDER IMG --*/
#header__slider{
    margin: 130px auto 0;
    position: relative;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#previous-slider-btn, #next-slider-btn{
    font-size: 50px;
    padding: 0rem 0.5rem;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    color: var(--color-white);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#previous-slider-btn{
    left: 0;
}

#next-slider-btn {
    right: 0;
}

#header__slider:hover #previous-slider-btn, #header__slider:hover #next-slider-btn{
    opacity: 1;
}

/*-- SLIDER ABOUT --*/
#about__slider {
    margin: auto;
    position: relative;
    /* width: 450px; */
    max-width: 450px;
    height: 563px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#slide2{
    width: 450px;
}

#previous-slider-btn2,
#next-slider-btn2 {
    font-size: 50px;
    padding: 0rem 0.5rem;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    color: var(--color-white);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#previous-slider-btn2 {
    left: 0;
}

#next-slider-btn2 {
    right: 0;
}

#about__slider:hover #previous-slider-btn2,
#about__slider:hover #next-slider-btn2 {
    opacity: 1;
}


/*-- HEADER --*/
.header{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    max-width: 1680px;
}

.header__top-container{
    height: 50px;
    background-color: var(--skin-color-strong);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__top-container-mail, .header__top-container-tel, .header__top-container-socials{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    padding: 0 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.header__top-container-socials{
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    column-gap: 10px;
}

.header__top-container-socials i{
    font-size: 15px;
    padding: 15px;
    color: #FFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    outline: 1px solid #FFF;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
}

.header__top-container-socials i:hover{
    outline-offset: 2px;
    animation: shake 0.25s;
}

.icon__fb:hover{
    background-color: var(--skin-color);
}

.icon__insta:hover{
    background: linear-gradient(50deg,#405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
}

@keyframes shake{
    10%{transform: rotate(15deg);}
    20%{transform: rotate(-15deg);}
    30%{transform: rotate(15deg);}
    40%{transform: rotate(-15deg);}
}

.header__top-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-right: 2rem;
}

.header__top-info span{
    color: var(--primary);
    transition: all .3s ease;
    margin-right: 10px;
}

.header__top-container-mail a{
    color: var(--text-color);
    cursor: pointer;

}

.header__top-container-mail .white, .header__top-container-tel .white{
    font-size: var(--smaller-font-size);
}

.header__top-info span:hover{
    transform: translateY(-5px)
}

#theme-switcher{
    background-color: var(--switch-bg);  
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    margin-right: 1.75rem;
    position: relative;
}

#theme-switcher::before{
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: var(--primary);
    border-radius: 50%;
    z-index: 0;
    left: 0;
    transform: translateX(var(--switch-circle-pos));
}

#theme-switcher span{
    z-index: 1;
}

#icon-sun{
    font-size: 1rem;
    color: var(--icon-sun);
    font-weight: 600;

}

#icon-moon {
    font-size: 1rem;
    color: var(--icon-moon);
    font-weight: 600;
}



/*-- NAV --*/
.nav{
    height: 80px;
    background-color: var(--nav-bgc);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: inset 0px -1px 0px #c5c5c6;
    backdrop-filter: blur(5px);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}

.nav__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__menu-links{
    margin-right: 2rem;
}

.nav__menu-link{
    font-size: var(--normal-font-size);
    text-transform: uppercase;
    font-weight: 400;
    transition: all 0.2s ease;
    position: relative;
    color: var(--text-color);
}

.nav__home:hover{
    color: var(--color-yellow);
}

.nav__activity:hover{
    color: var(--color-orange);
}

.nav__inscription:hover{
    color: var(--color-green);
}
.nav__contact:hover{
    color: var(--color-blue);
}
.nav__home:hover::after{
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -10px;
    left: 0;
    content: "";
    background-color: var(--color-yellow);
    animation: max-width .2s ease-in-out;
}
.nav__activity:hover::after{
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -10px;
    left: 0;
    content: "";
    background-color: var(--color-orange);
    animation: max-width .2s ease-in-out;
}
.nav__inscription:hover::after{
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -10px;
    left: 0;
    content: "";
    background-color: var(--color-green);
    animation: max-width .2s ease-in-out;
}
.nav__contact:hover::after{
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -10px;
    left: 0;
    content: "";
    background-color: var(--color-blue);
    animation: max-width .2s ease-in-out;
}

@keyframes max-width{
    0% {max-width: 0%;}
    100% {max-width: 100%;}
}

.users{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-right: 2rem;
    cursor: pointer;
}

.users_profile-img{
    height: 4rem;
    width: max-content;
    border-radius: 50%;
}

.name__role-name{
    font-size: var(--small-font-size);
    font-weight: 600;
    margin-bottom: 0.3rem;
    color: var(--text-color);
}

.name__role-role{
    font-size: var(--smaller-font-size);
    font-style: italic;
    color: var(--text-light);
}

.logout{
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
    align-self: center;
    align-items: center;
    padding: 6px;
}

.logout:hover{
    background-color: var(--primary);
    color: #FFF;
}

.hamburger{
    display: none;
}

/*- MAIN -*/
main{
    width: 100%;
    height: 100%;
}

/*--HERO --*/
.hero__container{
    background-image: url(../images/used/bg_header.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    height: 25rem;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
}

.img__container-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.img__logo-hero{
    width: 100%;
    max-height: 20rem;
    filter: drop-shadow(10px 10px 20px rgba(0,0,0,0.3));
    opacity: 1;
    transition: all 3s ease;
    animation: revealImg 3s;
}

.hero__right{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 1rem;
}

.hero__title{
    text-align: left;
    text-transform: uppercase;
    font-weight: 200;
    font-size: var(--h1-font-size);
    max-width: 500px;
    line-height: 1.8;
    opacity: 1;
    transition: all 3s ease;
    animation: reveal 3s;
    color: var(--text-color);
}

@keyframes reveal{
    0%{opacity: 0; margin-left: 10rem;}
    100%{opacity: 1;margin-left: 0rem;}
}

.logo__club{
    width: 300px;
    margin: 0 auto;
    align-items: right;

}

@keyframes revealImg {
    0% {
        opacity: 0;
        margin-right: 10rem;
    }

    100% {
        opacity: 1;
        margin-right: 0rem;
    }
}

.judo__taiso{
    font-weight: 900;
    color: var(--color-blue);
    font-size: var(--biggest-font-size);
}

.bouscat{
    font-size: var(--biggest-font-size);
    font-weight: 900;
}

/*-- BELT --*/
.belt__container{
    display: flex;
    align-items: center;
    justify-content: stretch;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.belt{
    width: 100%;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, .2);
    transform: skew(30deg);
}

.white-belt{
    background-color: var(--color-white);
}

.yellow-belt{
    background-color: var(--color-yellow);
}

.orange-belt{
    background-color: var(--color-orange);
}

.green-belt{
    background-color: var(--color-green);
}

.blue-belt{
    background-color: var(--color-blue);
}

.brown-belt{
    background-color: var(--color-brown);
}

.black-belt{
    background-color: var(--color-black);
}

.red-belt{
    background-color: var(--color-red);
}

/*-- ABOUT --*/
.about__container{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    gap: 3rem;
}

.belt__title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
}

.white-belt__img{
    width: 100px;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,.3));
    margin-bottom: 3rem;
    margin-right: 2rem;
}

.section__about-description{
    font-size: var(--normal-font-size);
    line-height: var(--line-height-normal);
    text-align: justify;
    margin-bottom: 1rem;
}

.section__about-description:last-child{
    margin-bottom: 3rem;
}

.about__img{
    width: 30rem;
    height: max-content;
    object-fit: cover;
    place-self: center;
}

/*-- SLIDER ABOUT --*/
.about__slider-section{
    width: 100%;
    margin: 0;
    padding: 0;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: start;
}

.about__slider{
    width: 100%;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
}

.about__slide{
    width: 600%;
    height: 600px;
    display: flex;
    position: relative;
}

.button {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #000;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  margin-top: 2rem;
}

.button::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
    border-radius: 10rem;
    z-index: -2;
}

.button::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--skin-color);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
}

.button:hover{
    color: #fff;
}

.button:hover::before{
      width: 100%;
}

/*-- DISCIPLINES & COURS --*/
.disciplines__container{
    padding: 100px 200px;
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2696E9;
}

.disciplines__container:before{
    z-index: 111;
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.disciplines__content {
    z-index: 222;
    color: #FFF;
    width: 90%;
    margin-top: 50px;
    display: none;
}

.disciplines__content.active{
    display: block;
}
    
.disciplines__content h1 {
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .5)
}

.disciplines__content h1 span{
    font-size: 1.2em;
    font-weight: 600;
}

.disciplines__content p{
    margin-bottom: 65px;
    line-height: 2;
    font-size: var(--normal-font-size);
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 10px;
}

.img__slide-discipline{
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: grayscale(); */
}

.slider__discipline-navigation{
    z-index: 222;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(40px);
    margin-bottom: 12px;
}

.slider__discipline-navigation .nav__discipline-btn{
    width: 12px;
    height: 12px;
    background: #FFF;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
}

.slider__discipline-navigation .nav__discipline-btn:not(:last-child){
    margin-right: 20px;
}

.slider__discipline-navigation .nav__discipline-btn:hover{
    transform: scale(1.2);
}

.slider__discipline-navigation .nav__discipline-btn.active{
    background: var(--color-blue);
}

.img__slide-discipline{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img__slide-discipline.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}











/*-- ACTIVITY --*/
.activity__card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 2rem;
}

.parent{
    width: auto;
    height: 300px;
    color: var(--color-white);
    overflow: hidden;
}

.child{
    width: 100%;
    height: 100%;
    background-color: #000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .5s;
}

.child::before{
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}

.parent .child span{
    color: var(--color-white);
    padding: 25%;
    line-height: 1.7;
}

.parent:hover span, .parent:focus span{
    display: block;
}

.parent:hover .child::before, .parent:focus .child::before{
    display: block;
}

.parent:hover .child, .parent:focus .child{
    transform: scale(1.2);
}

.baby__card{
    background-image: url(../images/baby__card.jpg);
    background-position: right;
}

.child__card{
    background-image: url(../images/enfants__card.webp);
}

.adult__card{
    background-image: url(../images/adult__card.jpg);
    background-position: 25%;
}

.taiso__card{
    background-image: url(../images/taiso__card.jpg);
    background-position: 20%;
}

.name__group{
    width: 100%;
    background-color: var(--skin-color);
    padding: 1rem;
    color: var(--color-white);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

/*-- CODE MORAL --*/
.swiper-wrapper{
    column-gap: 2rem;
    position: relative;
    margin-bottom: 5rem;
}

.swiper-slide{
    max-width: 400px;

}

.swiper-cm{
    max-width: 400px;
}

.swiper-cm-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    filter:saturate(1.5)
}

.swiper-cm-title{
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1rem;
    color: var(--color-black);
}

.swiper-cm-subtitle{
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 1.5rem;
}

.swiper-cm-card-container:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
}

/*--- Titres Fins --*/
.titre_fin{
    color: #1a2f42;
    margin: 20px 0;
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 1.5rem;
    text-transform: uppercase;
    display: block;
}


/*-- TARIFS --*/
.price__container{
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

.h1__price-container{
    color: #1a2f42;
    margin: 10px 0;
    padding-bottom: 20px;
    border-bottom: 1px dashed grey;
    font-size: var(--h1-font-size);
}

.h1__price-container span{
    display: block;
}

.h1__price-container span:nth-child(1){
    font-weight: 600;
    color: var(--secondary);
}

.h1__price-container span:nth-child(2) {
    font-weight: normal;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.price__card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 30px;
    margin: 30px 0;
}

.card-wrapper{
    position: relative;
    min-height: 350px;
    perspective: 2000px;
    perspective-origin: top;
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,.15));
}

.card-wrapper:hover .card{
    transform: rotateY(180deg);
}

.card{
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.86,0,0.07,1);
    color: #FFF;
    /* font-weight: bold; */
}

.card-front, .card-back{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card-front{
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.card-wrapper:nth-child(even) .card-front{
    background-color: var(--skin-color);
}

.card-front p{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    color: #FFF;
    margin: 0px auto 30px;
}

.card-front p:nth-child(1){
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 2rem;
    line-height: 35px;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 8px;
    padding: 10px;
}

.card-front p:last-child {
    margin-bottom: 4rem;
}

.card-front .material-symbols-outlined{
    position: absolute;
    right: 30px;
    bottom: 15px;
}

.card-front .check{
    position:relative;
    transform: translateY(5px);
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, .5);
    font-weight: 900;
}

.card-price p{
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
}

.card-back{
    background-color: var(--skin-color);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-wrapper:nth-child(even) .card-back {
    background-color: var(--secondary);
}

.card-back a{
    display: inline-block;
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: normal;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.card-back h2{
    text-align: center;
    font-size: 35px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, .5);
    color: #FFF;
    border-radius: 8px;
}

.card-price p{
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    color: #FFF;
    margin: 0px auto 30px;
    line-height: 20px;
}

.card-wrapper:nth-child(odd) .card-back a:hover{
    background-color: var(--color-black);
    color: #FFF;
}

.card-wrapper:nth-child(even) .card-back a:hover {
    background-color: var(--color-black);
    color: #FFF;
}

.mp p{
    line-height: 0px;
    font-size: 15px;
    padding: 5px;
    margin: 14px;
}
.mp a {
    margin: 0px;
}
.mp h2 {
    margin: 0px;
}

.price__description{
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    color: #333;
}


/*===== Contact Section =====*/
.contact__container {
    grid-template-columns: 300px 340px;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
    background-color:var(--body-color);
}

.contact__info {
    display: grid;
    row-gap: 2rem;
    justify-content: space-between;
}

.contact__card {
    background-color: var(--secondary);
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
}

.contact__card-icon {
    font-size: 1.8rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-25);
}

.contact__card-title,
.contact__card-data {
    font-size: var(--small-font-size);
}

.contact__card-title {
    font-weight: var(--font-medium);
}

.contact__card-data {
    display: block;
    margin-bottom: var(--mb-0-75);
    font-size: var(--normal-font-size);
}

.contact__button {
    color: var(--color-white);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
    cursor: pointer;
    font-weight: 600;
}

.contact__button-icon {
    font-size: 1rem;
    transition: .3s;
}

.contact__button:hover .contact__button-icon {
    transform: translateX(.25rem);
}

.input__container {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.input {
    width: 100%;
    background-color: transparent;
    border: 2px solid var(--text-light);
    padding: .6rem 1.2rem;
    color: var(--text-light);
    font-weight: var(--font-medium);
    font-size: var(--normal-font-size);
    letter-spacing: .5px;
    outline: none;
    border-radius: .50rem;
    transition: .3s;
}

.textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 140px;
    border-radius: .5rem;
    resize: none;
        color: var(--text-light);
}

.input__container label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    padding: 0 .4rem;
    color: var(--text-light);
    font-size: 1rem;
    font-weight: var(--font-medium);
    pointer-events: none;
    z-index: 15;
    transition: .5s;
}

.input__container.textarea label {
    top: 1rem;
    transform: translateY(0);
}

.input__container span {
    position: absolute;
    top: 0;
    left: 25px;
    color: transparent;
    transform: translateY(-50%);
    font-size: var(--small-font-size);
    padding: 0 .4rem;
    pointer-events: none;
    z-index: var(--z-fixed);
}

.input__container span::before,
.input__container span::after {
    content: '';
    position: absolute;
    width: 10%;
    height: 5px;
    opacity: 0;
    background-color: var(--body-color);
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
}

.input__container span::before {
    left: 50%;
}

.input__container span::after {
    right: 50%;
}

.input__container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: var(--smaller-font-size);
}

.input__container.focus span::before,
.input__container.focus span::after {
    width: 50%;
    opacity: 1;
}


/*-- FOOTER --*/
.footer{
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 2rem;
    height: auto;
    width: 100%;
    background-color: var(--text-color);
    color: var(--color-white);
}

.footer__logo{
    width: 8rem;
    margin: 2rem auto 1rem;
}

.footer__title{
    color: var(--color-white);
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    line-height: 1.4;
}

.footer__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2rem;
    font-size: 1.25rem;
}

.footer__copyright{
    background-color: var(--text-color);
    height: auto;
}

.footer__contact, .footer__links, .footer__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.footer__contact p{
    color: var(--color-white);
    text-align: center;
    line-height: 1.4;
    font-size: 1rem;
    margin-top: 2rem;
}

.footer__links a{
    color: var(--color-white);
    text-align: center;
    line-height: 1;
    font-size: 1rem;
    margin-top: 1rem;
    transition: all 0.2s ease;
}

.footer__links a:hover{
    color: var(--primary);
    text-decoration: underline;
}

.footer__socials a{
    color: var(--color-white);
    text-align: center;
    line-height: 1.4;
    font-size: 2rem;
    margin-top: 1rem;
    transition: all 0.2s ease;
    margin-top: 2rem;
}

.footer__socials a:hover{
    color: var(--primary);
    transform: translateY(-5px)

}

.footer__subtitle{
    color: var(--primary);
    font-weight: 600;
    text-decoration: underline;
}

.footer__copyright-text{
    text-align: center;
    padding: 15px;
    color: var(--color-white);
}

.footer__copyright-text span{
    color: var(--primary);
    font-weight: 600;
}

/*-- SCROLL UP --*/
.scroll-up__container{
    position: fixed;
    bottom: 10rem;
    right: 0rem;
    width: 4rem;
    height: 4rem;
    background-color: var(--primary);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .3);
    border:1px solid var(--text-color);
    transition: all 0.2s linear;
}

.scroll-up__container:hover{
    transform: translateY(-15px);
}

.scroll-up{
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,.3));
}

/*-- 
        RESPONSIVE 

Points de Ruptures
480 à 720px smartphones
768 à 900px tablettes en mode portrait
900 à 1024px tablettes en mode paysage
1024 à 1200px ordinateurs
                        --*/

@media screen and (max-width: 720px ) {
    .header__top-container-mail, .header__top-container-tel{
        display: none;
    }

    .logout{
        display: none;
    }

    #header__slider{
    margin: 100px auto 0;
    }

    .nav__tag{

    }

    .geometric__shape{
        height: 100px;
        width: 200px;
    }

    .icon__logo{
        display: none;
    }

    .nav__tag-title{
        top: 1.2rem;
        left: 3rem;
        font-size: 2rem;
    }
    
    .header__top-info{
        gap: 0;
    }

    .header__top-info p{
        display: none;
    }

    .header__top-info span{
        margin-right: 0;
    }
    
    .about__container{
        grid-template-columns: 1fr;
    }

    .hero__container{
        grid-template-columns: 1fr;
        margin-right: 0;
    }

    .hero__left{
        display: none;
    }

    .hero__right{
        align-items: end;
        margin: 2rem 4rem;
    }

    .hero__title{
        font-size: 2rem;
    }

    .dark-mode{
        margin: 0;
    }

    .users{
        display: block;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 0;
        gap: 0.5rem;
    }
    .users_profile-img{
        width: 40px;height: 40px;
    }

    .name__role-name, .name__role-role{
        display: none;
    }

    .dark-mode{
        margin-right: 1rem;
    }


    .activity__card-container{
        grid-template-columns: 2fr 2fr;
    }
}

@media screen and (max-width: 900px ) {
    .nav {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        height: 50px;
    }

    .nav__menu{
        order: 2;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: flex-start;
        position: absolute;
        background: var(--body-color);
        top: 100%;
        right: 0;
        height: max max-content;
        border-left: 1px solid #c5c5c6;
        transform: translateX(100%);
        z-index: 10;
    }

    .nav__menu-links{
        font-size: 2rem;
        padding: 1rem 0 1rem 1rem;
        text-align: right;
    }

    .nav__home:hover::after{
        bottom: -10px;
    }
    .nav__activity:hover::after{
        bottom: -10px;
    }
    .nav__inscription:hover::after{
        bottom: -10px;
    }
    .nav__contact:hover::after{
        bottom: -10px;
    }

    .open{
        transform: translateX(0%);
    }

    /*-- Hamburger --*/
    .hamburger{
        width: 20px;height: 20px;
        cursor: pointer;
        border: none;
        display: flex;
        background: transparent;
        align-items: center;
        position: relative;
        margin-right: 4rem;

    }
    .hamburger span{
        display: block;
        width: 100%;
        height: 2px;
        background: var(--text-color);
        position: absolute;
        pointer-events: none;
        transition: opacity 0.3s 0.15s ease-out;
    }

    .hamburger span:nth-child(1), .hamburger span:nth-child(3){
        transition: transform 0.3s ease-out;
    }

    .hamburger span:nth-child(1){
        transform: translateY(7px);
    }

    .hamburger span:nth-child(3){
        transform: translateY(-7px);
    }

    .hamburger.open span:nth-child(1){
        transform: translate(0) rotate(135deg);
    }
    .hamburger.open span:nth-child(2){
        opacity: 0;
        transition: opacity 0s ease-out;
    }
    .hamburger.open span:nth-child(3){
        transform: translate(0) rotate(-135deg);
    }
   


}

@media screen and (max-width: 1024px ) {
    
}

@media screen and (max-width: 1199px ) {
    
}

@media screen and (min-width: 1200px ) {
    
}

/*-- NAV --*/

/*-- HEADER --*/

/*-- ABOUT --*/









